
.swiper-container {
  position: relative;
  width: 400px;
  height: 300px;
}

.swiper-wrapper {
  display: flex;
}

.swiper-slide {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #eee;
  transition: all 200ms linear;
  transform: scale(0.8);
}

.swiper-slide img {
  width: 100%;
  height: auto;
}

.swiper-slide h2 {
  margin: 10px 0;
}

.swiper-slide p {
  text-align: center;
}

.swiper-slide-active {
  transform: scale(1);
  background: #fc0;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
}

.swiper-button-prev {
  left: 10px;
 
}

.swiper-button-next {
  right: 10px;

}
