/* Swiper */
.swiper-container {
    width: 100%;
    height: 100%;
  overflow: hidden;
}

.swiper-slide {

    
    width: 33.33% !important; /* Set width of each slide */

    /* Center slide text vertically */

}

.swiper-button-next, .swiper-button-prev {
    color: red;
}

/* Cards */
.custom-card {
  background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
      text-align: center;
    font-size: 18px;
      display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.card-img-top {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    margin: auto;
    display: block;
}

.custom-card-body {
    padding: 10px;
}

.custom-card-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.custom-card-text {
    font-size: 1em;
    color: #555;
}
.slider-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 990px) {
  .slider:not(.slider--everywhere):not(.slider--desktop) + .slider-buttons {
    display: none;
  }
}

@media screen and (max-width: 989px) {
  .slider--desktop:not(.slider--tablet) + .slider-buttons {
    display: none;
  }
}

@media screen and (min-width: 750px) {
  .slider--mobile + .slider-buttons {
    display: none;
  }
}

.slider-button {
  color: rgba(var(--color-foreground), 0.75);
  background: transparent;
  border: none;
  cursor: pointer;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-button:not([disabled]):hover {
  color: rgb(var(--color-foreground));
}

.slider-button .icon {
  height: 0.6rem;
}

.slider-button[disabled] .icon {
  color: rgba(var(--color-foreground), 0.3);
  cursor: not-allowed;
}

.slider-button--next .icon {
  transform: rotate(-90deg);
}

.slider-button--prev .icon {
  transform: rotate(90deg);
}

.slider-button--next:not([disabled]):hover .icon {
  transform: rotate(-90deg) scale(1.1);
}

.slider-button--prev:not([disabled]):hover .icon {
  transform: rotate(90deg) scale(1.1);
}

